# Python
__pycache__
*.pyc
*.egg-info
dist

# Log
*.log
*.log.*
*.json

# Data
!**/alpaca-data-conversation.json

# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output

checkpoints
ckpts*

# Secret Environment Variables
.env*

# Amulet User Config
.amltconfig

# Devcontainer
!.devcontainer/*

# Blob Fuse
.blobfuse/*.yaml
!.blobfuse/*.example.yaml

# Pretrained Models
models
llama-7b
GPT4RoI-7B-delta
GPT4RoI-7B

# Gradio Box
gradio-dev

# Pnpm
.pnpm-store
